
<!-- Main Navigation -->
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light d-flex justify-content-between shadow">
  <a class="navbar-brand" href="/home">
    <img src="/Assets/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Marianne Palmer
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
   
      <!-- ejs if statments to set li as active if on current page-->
      
      <% if (title == "Home") { %>
        <li class="nav-item active">
      <% } else { %>
        <li class="nav-item">
      <% } %> 
        <a class="nav-link" href="/home"><i class="fas fa-lg fa-home"></i> Home <span class="sr-only">(current)</span></a>
      </li>

      <% if (title == "About") { %>
        <li class="nav-item active">
      <% } else { %>
        <li class="nav-item">
      <% } %> 
        <a class="nav-link" href="/about"><i class="fas fa-lg fa-info-circle"></i></i> About Me</a>
      </li>

      <% if (title == "Projects") { %>
        <li class="nav-item active">
      <% } else { %>
        <li class="nav-item">
      <% } %> 
        <a class="nav-link" href="/projects"><i class="fas fa-lg fa-briefcase"></i> Projects</a>
      </li>

      <% if (title == "Services") { %>
        <li class="nav-item active">
      <% } else { %>
        <li class="nav-item">
      <% } %> 
        <a class="nav-link" href="/services"><i class="fas fa-lg fa-tools"></i> Services</a>
      </li>

      <% if (title == "Contact") { %>
        <li class="nav-item active">
      <% } else { %>
        <li class="nav-item">
      <% } %> 
        <a class="nav-link" href="/contact"><i class="fas fa-lg fa-at"></i> Contact</a>
      </li>

      <!--Check if display name exists first-->
      <% if (typeof displayName == 'string' && displayName) { %>

        <!--if user exists, navbar will be ajusted -->
        <% if (title == "Business Contacts" || title == "Add Business Contact" || title == "Update Business Contact") { %>
          <li class="nav-item active">
        <% } else { %>
          <li class="nav-item">
        <% } %> 
          <a class="nav-link" href="/business-contacts"><i class="fas fa-lg fa-address-book"></i> Business Contact</a>
        </li>

        <li class="navbar-text"><em><i class="fas fa-lg fa-user"></i>Welcome, <%= displayName %></em></li>
        <li class="nav-item">
          <a href="/logout" class="nav-link">
            <i class="fas fa-lg fa-sign-out-alt"></i>
            logout
          </a>
        </li>
      <!--if no display name, login option-->
      <% } else { %>
        <li class="nav-item">
          <a href="/login" class="nav-link">
            <i class="fas fas-lg fa-sign-in-alt"></i>
            Login
          </a>
        </li>
      <% } %>
          
    </ul>
  </div>
</nav>