  <!--Bootom Nav-->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h6 class="display-6n navbar-text">&copy;<%= new Date().getFullYear();%> Marianne Palmer COMP229</h6>
    </nav>
  </footer>