    <!-- 
  File: bottom_nav.ejs
  Name: Marianne Palmer
  Student#: 301122149
  Date: Oct 8th 2020
   --> 
  
  <!--Bootom Nav-->
  <footer>

    <!--Fixed navbar on all other pages besides Projects page-->
    <% if (title == "Projects") { %>
      <nav class="navbar navbar-light bg-light justify-content-center shadow-lg">
    <% } else { %>
      <nav class="navbar fixed-bottom navbar-light bg-light justify-content-center shadow-lg">
    <% } %> 
      <h6 class="display-6n navbar-text text-center">&copy;<%= new Date().getFullYear();%> Marianne Palmer COMP229</h6>
    </nav>
  </footer>