  <!-- 
  File: footer.ejs
  Name: Marianne Palmer
  Student#: 301122149
  Date: Oct 8th 2020
   --> 

<!--Script Section-->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/Scripts/app.js"></script>
</body>
</html>