  <!-- 
  File: main_nav.ejs
  Name: Marianne Palmer
  Student#: 301122149
  Date: Oct 8th 2020
   --> 

<!-- Main Navigation -->
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light d-flex justify-content-between shadow">
  <a class="navbar-brand" href="/home">
    <img src="/Assets/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Marianne Palmer
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
   
      <!-- ejs if statments to set li as active if on current page-->
      
      <% if (title == "Home") { %>
        <li class="nav-item active">
      <% } else { %>
        <li class="nav-item">
      <% } %> 
        <a class="nav-link" href="/home"><i class="fas fa-lg fa-home"></i> Home <span class="sr-only">(current)</span></a>
      </li>

      <% if (title == "About") { %>
        <li class="nav-item active">
      <% } else { %>
        <li class="nav-item">
      <% } %> 
        <a class="nav-link" href="/about"><i class="fas fa-lg fa-info-circle"></i></i> About Me</a>
      </li>

      <% if (title == "Projects") { %>
        <li class="nav-item active">
      <% } else { %>
        <li class="nav-item">
      <% } %> 
        <a class="nav-link" href="/projects"><i class="fas fa-lg fa-briefcase"></i> Projects</a>
      </li>

      <% if (title == "Services") { %>
        <li class="nav-item active">
      <% } else { %>
        <li class="nav-item">
      <% } %> 
        <a class="nav-link" href="/services"><i class="fas fa-lg fa-tools"></i> Services</a>
      </li>

      <% if (title == "Contact") { %>
        <li class="nav-item active">
      <% } else { %>
        <li class="nav-item">
      <% } %> 
        <a class="nav-link" href="/contact"><i class="fas fa-lg fa-at"></i> Contact</a>
      </li>
    </ul>
  </div>
</nav>