<div class="container jumbotron">
  <h1 class="display-3 text-center"><%= title %></h1>
  <p class="lead text-center">To bring app ideas into reality by creating intuitive user interfaces for a unique and exciting user experience.</p>
  <hr class="my-4">
  <p class="lead text-center">
    <a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a>
  </p>
</div>