
  <!-- 
  File: services.ejs
  Name: Marianne Palmer
  Student#: 301122149
  Date: Oct 8th 2020
   --> 
   
<!--Services Content-->
<!--All images from http://www.freepik.com Designed by macrovector-->
<h1 class="display-3 p-3 text-center"><%= title %></h1>

<div class="container">

  <div class="card-deck container">

    <!--Card 1 : Web-Design -->
    <div class="card service-card shadow">
      <img class="card-img-top" src="../Assets/images/services_web_design.png" alt="Web-Design">
      <div class="card-body">
        <h5 class="card-title"><em>Web-Design</em></h5>
        <p class="card-text">Create a new website with beautiful, eye-catching designs to attract your viewers. </p>
      </div>
    </div>
  
    <!--Card 2 : App Development-->
    <div class="card service-card shadow">
      <img class="card-img-top" src="../Assets/images/services_app_dev.png" alt="App Development">
      <div class="card-body">
        <h5 class="card-title"><em>App Development</em></h5>
        <p class="card-text">Convert your mobile app ideas into sleek, intuitive user interfaces. Offers users a great experience with smooth performance and added functionality.</p>
      </div>
    </div>
  
    <!--Card 3 : General Development-->
    <div class="card service-card shadow">
      <img class="card-img-top" src="../Assets/images/services_general.png" alt="General Development">
      <div class="card-body">
        <h5 class="card-title"><em>General Development</em></h5>
        <p class="card-text">Customized programming for your needs, offered in a wide array of technologies. HTML, CSS, JavaScript, C#, Java, Python, SQL and more.</p>
      </div>
    </div>
  
    <!--Card 4 : QA Testing-->
    <div class="card service-card shadow">
      <img class="card-img-top" src="../Assets/images/services_testing.png" alt="Testing">
      <div class="card-body">
        <h5 class="card-title"><em>QA Testing</em></h5>
        <p class="card-text">Prepare test documentation: design, cases, scripts to ensuring that your software is of the highest possible quality.</p>
      </div>
    </div>

  </div>

</div>