/*
File: app.css
Name: Marianne Palmer
Student#: 301122149
Date: Oct 25th 2020
*/

/* custom css goes here */

/*******************
* GLobal Styling  *
*******************/

/* SVG background and code from https://www.svgbackgrounds.com/ */
body {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(190,960,468)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23ffffff'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='572' height='476.7' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.04'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}
main {
    padding-bottom: 75px;
}

em {
    color: #19c6ca;
    font-weight: 800;
    font-style: normal;
}
/**************
* Home Page  *
*************/
#home-page {
    font-family: 'Montserrat', sans-serif;
    background-color: #adadad2b;
    margin-top: 118px;
}

#home-page h1 {
    font-weight: 900;   
}

#home-page p {
    font-size: 2em;
}

#home-page .btn{
    background-color: #9e6fb4;
    border: 3px solid #642780;
    color: #ffffff;
    font-weight: 800;
}

#home-page .btn:hover{
    background-color:  #642780;
    border: 3px solid #9e6fb4;
    color: #19c6ca;
    font-weight: 800;
    transform: scale(1.3);
    transition: all .3s ease-in-out;
}

/*****************
* About me page *
****************/

.profile-picture-wrap{
    max-width: 400px;
    box-sizing: content-box;
    padding: 0;
    height: 533px;
}
#profile-picture {
    max-width: 400px;
}

#viewResumeBTN {
    width: 12.6em;
}
#viewResumeBTN, #downloadResumeBTN{
    margin: 0.5em;
}

.tech-list {
    font-size: 16px;
}
/*Fixed responsiveness for profile image*/
@media (max-width: 767.98px) { 
    #profile-picture, .profile-picture-wrap {
        max-width: 300px;
        height: 410px;
        margin-bottom: 30px;
    }
}


/*****************
* Projects Page *
****************/

.carousel-control-prev-icon, .carousel-control-next-icon {
    border: 1px solid #19c6ca;
    background-color: #19c6ca;
    border-radius: 50%;
    padding: 15px;
}
.carousel-control-prev {
    left: -40px;
}

.carousel-control-next {
    right: -40px;
}
.carousel-right {
    margin-right: 20px;
    min-height: 410px
}

.carousel-left {
    margin-left: 20px;
    min-height: 410px
}

.carousel-indicators li {
    border: 1px solid #19c6ca;
}

.carousel-indicators .active {
    background-color: #19c6ca;
}

@media (max-width: 575.98px) { 
    .carousel {
        width: calc(100% - 100px); /*center carousel*/
        min-height: auto;
        margin: auto; 
    }

    .project-content {
        padding: 1rem !important;
    }
}

/******************
*  Services Page  *
******************/
.service-card:hover {
    transform: scale(1.3);
    transition: all .3s ease-in-out;
    z-index: 1;
}

/* Fixed responsive issues */

@media (max-width: 991.98px) {
    .card-deck {
        display: grid;
        grid-template-columns: auto auto;
        grid-row-gap: 30px;
    }
}

@media (max-width: 767.98px) { 
    .card-deck {
        display: flex;
       flex-direction: column;
    }
}

/*****************
 * Contact Page *
****************/

 #form-container{
    max-width: 750px;
}

#sendButton, #cancelButton{
    margin-right: 15px;
    margin-bottom:10px;
    width: 150px;
}


#contact-page-img {
    max-width: 200px;
    border-radius: 50%;
    border: 10px solid #19c6ca;
}

.contact-links {
    color: #563d7c;
}

.contact-links:hover{
    text-decoration: none;
    transform: scale(1.3);
    transition: all .3s ease-in-out;
}

/* Update Business Contact Page */

#updatePageDeleteButton {
    margin: 0;
}