
<!--About content-->
<h1 class="display-3 p-3 text-center"><%= title %> Me</h1>

<div class="container bg-light rounded">
  <div class=" p-lg-5 p-md-2 p-sm-0 d-flex justify-content-center flex-wrap m-lg-3 m-md-2">
    
    <!--Profile Picture - Left side of page-->
    <div class="profile-picture-wrap shadow rounded col-lg-4 col-md-12 m-lg-3 m-md-1">
      <img id="profile-picture" class="rounded" src="/Assets/images/profile-pic.jpg" alt="Image of Marianne Palmer">
    </div>

    <!--Right side of page -->
    <div class="about-details col-lg-6 col-md-12 m-lg-3 m-md-2">
      <p class="h3">Hi! I'm <em>Marianne Palmer</em></p>
      <p class="lead">I'm originally from St. Lucia, a small island in the Eastern Caribbean. 
        I moved to Canada about 10 years ago for university. I later graduated from McMaster University in the field of Economics. 
        Currently, I am a third semester student at Centennial College, pursuing an Advanced Degree in
        Software Engineering Technology.
      </p>
      <p class="lead">Here are a few of the technologies that I've worked with:</p>
      <ul class="list-unstyled d-flex flex-wrap tech-list">
        <li class="p-1 col-lg-3 col-md-4 col-sm-6"><i class="fab fa-html5"></i> HTML</li>
        <li class="p-1 col-lg-3 col-md-4 col-sm-6"><i class="fab fa-css3-alt"></i> CSS</li>
        <li class="p-1 col-lg-3 col-md-4 col-sm-6"><i class="fab fa-js-square"></i> JavaScript</li>
        <li class="p-1 col-lg-3 col-md-4 col-sm-6"><i class="fab fa-node-js"></i> NodeJS</li>
        <li class="p-1 col-lg-3 col-md-4 col-sm-6"><i class="fab fa-angular"></i> Angular</li>
        <li class="p-1 col-lg-3 col-md-4 col-sm-6"><i class="fab fa-react"></i> React</li>
        <li class="p-1 col-lg-3 col-md-4 col-sm-6"><i class="fas fa-code"></i> C#</li>
        <li class="p-1 col-lg-3 col-md-4 col-sm-6"><i class="fab fa-java"></i> Java</li>
        <li class="p-1 col-lg-3 col-md-4 col-sm-6"><i class="fab fa-python"></i> Python</li>
        <li class="p-1 col-lg-3 col-md-4 col-sm-6"><i class="fas fa-database"></i> SQL</li>
      </ul>

      <!--Buttons for downloading and viewing resume-->
      <hr class="my-4">
      <a href="/Assets/Marianne_Palmer_Resume.pdf" target="_blank" download>
        <button type="button" id="downloadResumeBTN" class="btn btn-success">
          <i class="fas fa-cloud-download-alt"></i> 
          Download Resume
        </button>
      </a>
      <button type="button" id="viewResumeBTN" class="btn btn-info">
        <i class="fas fa-binoculars"></i> 
        View Resume
      </button>
    </div>
  </div>
</div>
