
<div class="container jumbotron shadow" id="home-page">
  <p class="text-center"><em>Hi! My name is</em></p>
  <h1 class="display-3 text-center"><%= heading %></h1>
  <p class="text-center">My mission is to bring app ideas into reality by creating <em>intuitive</em> user interfaces for a <em>unique</em> and <em>exciting</em> user experience.</p>
  <hr class="my-4">
  <p class="text-center">
    <a class="btn btn-lg" href="/about" role="button">Learn more</a>
  </p>
</div>